@import "../../scss/essentials";

.wrapper {
  width: 100%;

  // padding: $padding--mid 0;
  @include breakpoint-up(laptop) {
    max-width: toRem(500);
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    margin: $margin--mid auto;
    grid-gap: 1rem;
  }
}

.widget {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid $clr--border--transparent;
  padding: $padding--mid;
  margin: $margin--mid 0;
  background-color: $clr--bg--transparent;

  p {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: $margin--mid;
  }

  svg {
    font-size: 3rem;
  }

  @include breakpoint-up(tablet) {
    max-width: toRem(500);
    border-radius: $border--radius--low;
    margin: $margin--mid auto;
  }

  @include breakpoint-up(laptop) {
    margin: 0;
  }
}

.star {
  grid-column: 1 / -1;
}
