@import "../../scss/essentials";

.wrapper {
  width: 100%;

  // padding: $padding--mid 0;
  @include breakpoint-up(laptop) {
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // grid-gap: 2rem;
    margin: $margin--high 0;
    display: flex;
    justify-content: space-between;
  }
}

.widget {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: $shadow--4;
  border: 1px solid $clr--border--transparent;
  padding: $padding--mid;
  margin: $margin--mid 0;

  p {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: $margin--mid;
  }

  @include breakpoint-up(laptop) {
    max-width: toRem(250);
    margin: 0;
    border-radius: $border--radius--low;
  }
}

.image {
  max-width: 100%;
  height: toRem(170);
  object-fit: cover;
}
