@import "../../scss/essentials";

.wrapper {
  border-top: 2px solid $clr--border--transparent;
  background-color: $clr--bg--primary;

  @include breakpoint-up(laptop) {
    // padding: $padding--mid;
    background-color: $clr--bg--transparent;
    border: none;
  }
}
.container {
  padding-top: $padding--mid;

  @include breakpoint-up(laptop) {
    padding: $padding--high $padding--mid;
  }
}
.text {
  padding: 0 $padding--mid $padding--mid $padding--mid;

  @include breakpoint-up(laptop) {
    padding: 0 0 $padding--mid 0;
  }
}

.carousel {
  @include breakpoint-up(laptop) {
    display: none;
  }
}

.image {
  height: toRem(550);
  object-fit: cover;
}

.legend {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.86);
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $clr--txt--light;
  padding: $padding--mid;
  text-transform: uppercase;
  font-size: 1.5rem;
  height: 100%;
  transition: 0.3s ease;

  span {
    text-transform: capitalize;
    font-weight: 200;
    margin-top: $margin--min;

    &:first-child {
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      padding: $padding--low;
    }
  }

  @include breakpoint-up(laptop) {
    font-size: 1rem;
  }
}

.desktop {
  display: none;

  @include breakpoint-up(laptop) {
    width: 100%;
    max-width: $max-width-desktop;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  @include breakpoint-up(desktop) {
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }
}

.card {
  position: relative;
  width: 100%;
  max-width: toRem(250);
  border-radius: $border--radius--low;
  overflow: hidden;
  box-shadow: $shadow--2;
  background-color: $clr--contrast--primary;
  height: toRem(400);

  &:nth-child(2) {
    margin: 0 $margin--mid;
  }

  &:hover {
    cursor: pointer;

    .legend {
      background-color: rgba(0, 0, 0, 0.78);
      transform: scale(1.08);
      // display: none;
      // opacity: 0;
      // background-color: none;
    }
  }
}

.cover {
  max-width: 100%;
  // width: toRem(250);
  height: toRem(400);

  // height: toRem(500);
}
