@import "../../scss/essentials";

.wrapper {
  @include breakpoint-up(laptop) {
    padding: 0 $padding--mid;
  }
}

.links {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  padding: $padding--low $padding--mid;
  font-weight: 600;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px 0px 0px 0px;
  border: 1px solid $clr--border--transparent;
  // margin: $margin--mid 0;
  font-size: 1.5rem;
  transition: 0.3s;
  position: sticky;
  top: 0;
  background-color: $clr--bg--primary;
  z-index: 3;

  @include breakpoint-up(tablet) {
    padding: $padding--mid;
    width: 100%;
    max-width: toRem(500);
    border: 1px solid $clr--border--transparent;
    border-radius: $border--radius--low;
    margin: $margin--mid auto;
    font-size: 1rem;
    box-shadow: $shadow--2;
    // top: 20px;
    &:hover {
      box-shadow: $shadow--4;
    }
  }
}

.active {
  color: $clr--active--primary !important;
}

.linkContent {
  display: flex;
  align-items: center;
}

.icon {
  @include breakpoint-up(tablet) {
    display: none;
  }
}

.title {
  display: none;
  @include breakpoint-up(tablet) {
    display: block;
  }
}
