@import "../../scss/essentials";

.noItem {
  width: 100%;
  max-width: toRem(500);
  border-radius: $border--radius--low;
  margin: $margin--mid auto;
  text-align: center;
  padding: $padding--mid;

  svg {
    font-size: 3rem;
    margin-bottom: $margin--mid;
  }

  @include breakpoint-up(tablet) {
    background-color: $clr--bg--transparent;
  }
}

.heading {
  margin: 0;
}

.text {
  margin-top: $margin--mid;
}
