@import "../../scss/essentials";

.form {
  width: 100%;
  max-width: toRem(500);
  margin: auto;
}

.image {
  width: 100%;
  max-width: toRem(300);
  height: toRem(300);
  object-fit: cover;
  border-radius: $border--radius--low;
  margin: auto;
}

.imageHolder {
  display: flex;
  justify-content: center;
}
