@import "../../scss/essentials";

.wrapper {
  @include breakpoint-up(laptop) {
    padding: 0 $padding--mid;
  }
}

.rendertext {
  padding: 0 $padding--mid;
  @include breakpoint-up(laptop) {
    padding: 0;
  }
}

.status {
  margin-top: $margin--mid;
  padding: 0 $padding--mid;
  @include breakpoint-up(laptop) {
    padding: 0;
  }
}
