@import "../../scss/essentials";

.wrapper {
  max-width: 100%;
  overflow: hidden;
  position: relative;

  @include breakpoint-up(laptop) {
    border-radius: $border--radius--low;
    margin: 0;
  }
}

.cover {
  position: absolute;
  width: 100%;
  object-fit: cover;
  filter: brightness(20%) blur(0.7rem);
  transform: scale(1.1);
  z-index: -1;
  background-color: $clr--contrast--primary;
}
.title {
  width: 100%;
  max-width: toRem(420);
  margin: 0 auto;
  text-align: center;
  padding: $padding--mid $padding--mid 0 $padding--mid;

  @include breakpoint-up(laptop) {
    max-width: 100%;
  }
}

.body {
  padding: $padding--mid;
  padding-top: 0;
  width: 100%;
  max-width: toRem(420);
  margin: auto;
  text-align: center;

  ul {
    width: 100%;
    background-color: $clr--bg--gradient;
    border-radius: $border--radius--low;
    padding: $padding--mid;
    color: $clr--txt--light;
    text-transform: capitalize;
  }

  ul li {
    display: flex;
    justify-content: space-between;
    margin: $margin--low 0;
  }
}

.likes {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $clr--danger--primary;
  margin: auto;
  font-size: 2rem;

  svg {
    margin-right: $margin--min;
  }

  @include breakpoint-up(laptop) {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: $padding--mid;
    background-color: $clr--bg--gradient;
    border-top-right-radius: $border--radius--low;
    width: toRem(100);
    height: toRem(90);
  }
}
