@import "../../scss/essentials";

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  font-weight: 400;
  font-size: 1.3rem;
  text-transform: capitalize;
}

.links {
  display: flex;
  align-items: center;
}

.vl {
  border: 1px solid $clr--active--primary;
  // border-right: 3px solid $clr--active--primary;
  background-color: $clr--active--primary;
  height: toRem(20);
  margin: 0 $margin--low;
}

.user {
  display: flex;
  align-items: center;
  font-size: 2rem;

  a {
    display: flex;
  }

  button {
    display: flex;
  }

  svg {
    margin-left: $margin--low;
  }
}
