@import "../../scss/essentials";

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  font-weight: 400;
  font-size: 1.3rem;
  text-transform: capitalize;
}

.links {
  display: flex;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
}

.vl {
  border: 1px solid $clr--active--primary;
  // border-right: 3px solid $clr--active--primary;
  background-color: $clr--active--primary;
  height: toRem(20);
  margin: 0 $margin--low;
}

.user {
  display: flex;
  align-items: center;
  font-size: 2rem;

  a {
    display: flex;
    position: relative;

    .notification {
      width: toRem(10);
      height: toRem(10);
      background-color: $clr--danger--primary;
      border-radius: 50%;
      position: absolute;
      bottom: 0;
      left: 9px;
    }

    .animate {
      animation: 2.3s scale infinite;
      opacity: 0.6;
    }
  }

  button {
    display: flex;
  }

  svg {
    margin-left: $margin--low;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2.5);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
