@import "../../scss/essentials";

.image {
  width: toRem(80);
  height: toRem(80);
  object-fit: cover;
  border-radius: 50%;
  margin-right: $margin--low;
  outline: 3px solid $clr--bg--primary;
}
.author {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: $padding--low;
  border-radius: $border--radius--low;
  margin: $margin--mid 0;
  text-transform: capitalize;
  font-weight: 500;
  border: 1px solid $clr--border--transparent;
  background-color: $clr--bg--primary;
}

.transparent {
  background-color: $clr--bg--gradient;
  border: none;

  .name {
    color: $clr--txt--light;
  }

  &.author {
    justify-content: center;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.star {
  background-color: $clr--warn--primary;
  padding: $padding--min;
  margin-top: $margin--low;
  border-radius: $border--radius--low;
  align-self: flex-start;
  display: flex;
  align-items: flex-start;

  svg {
    margin-right: $margin--min;
  }

  p {
    // align-self: flex-start;
    font-size: 1.05rem;
  }
}

.spaceBetween {
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: $padding--low $padding--mid;
  .image {
    margin-right: 0;
    margin-left: $margin--low;
  }
}
