@import "../../scss/essentials";

.wrapper {
  @include breakpoint-up(tablet) {
    position: relative;
  }
}

.popup {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  max-width: $max-width-desktop;
  padding: $padding--mid;
  top: toRem(53);

  @include breakpoint-up(tablet) {
    width: toRem(300);
    right: 0;
    left: auto;
    padding: 0;
  }
}

.card {
  box-shadow: $shadow--2;
  // border: 1px solid white;
  z-index: $zindex--user--popup;
  background-color: $clr--bg--primary;
  border-radius: $border--radius--mid;
  overflow: hidden;
}

.header {
  width: 100%;
  height: toRem(100);
  background-image: url("../../assets/backgrounds/background__1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.image {
  position: absolute;
  top: toRem(55);

  border-radius: 50%;
  width: toRem(80);
  height: toRem(80);
  object-fit: cover;
  left: 0;
  right: 0;
  margin: auto;
  outline: 7px solid $clr--bg--primary;
}

.actions {
  margin-top: toRem(60);
}

.btn {
  padding: toRem(20) toRem(20);
  font-size: 1.2rem;
  width: 100%;
  display: block;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  font-weight: 500;

  &:hover {
    background-color: $clr--bg--transparent;
  }
}

.logout {
  color: $clr--danger--primary;
}

.show {
  transform: scaleY(1);
  animation: 0.3s show;
  transition: 0.2s ease;
  opacity: 1;
}

.hide {
  transform: scale(0);
  animation: 0.4s hide;
}

.untouched {
  display: none;
}

@keyframes show {
  0% {
    transform: scale(1.1);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    transform: scale(1);

    opacity: 1;
  }
  70% {
    transform: scale(1.1);
    opacity: 0;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}
