html {
  box-sizing: border-box;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(107, 107, 107);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: $clr--bg--primary;
  font-family: $font-main;
  color: $clr--txt--primary;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  background-color: inherit;
  border: none;
  outline: none;
}

button:disabled,
button:disabled:hover,
button[disabled]:hover {
  cursor: not-allowed;
  opacity: 0.7;
  transform: none;
}

button:hover {
  cursor: pointer;
}

a {
  all: unset;

  &:hover {
    cursor: pointer;
  }

  &:visited {
    color: inherit;
  }
}

.hr {
  border-top: 1px solid $clr--border--transparent;
  // border-top: 3px solid $clr--active--primary;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
