// -----------------------------------------------------------------------------
// This file contains all application-wide Sass fonts.
// -----------------------------------------------------------------------------

// Poppins
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

// roboto mono
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

// russo one
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
