@import "../../scss/essentials";

.wrapper {
  padding: 0 $padding--mid;

  @include breakpoint-up(tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }

  @include breakpoint-up(laptop) {
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }
}

.heading {
  margin: 0;
}

.text {
  margin-top: $margin--mid;
}
